[submodule "BigMission.Shared"]
	path = BigMission.Shared
	url = https://github.com/bgriggs/bigmission-shared.git
[submodule "redmist-timing-common"]
	path = redmist-timing-common
	url = https://github.com/bgriggs/redmist-timing-common.git
